html {
    box-sizing: border-box; /*prevents padding from stretching page beyond 100% and adding a horizontal scroll bar*/
}

body {
    margin: 0;
    min-height: 100vh;  /*keeps the page from stretching more than 100%*/
    background: dodgerblue;
}